<footer>
           
    <div class="contenu-footer">

        <div class="colonnes footer-services">
        <h2 class="titre">Services</h2>
        dfdfdf<br>
        wxwxwxwxx
        </div>

        <div class="colonnes footer-contact">
        <h2 class="titre">Contact</h2>
        </div>

        <div class="colonnes footer-horaires">
        <h2 class="titre">Horaires</h2>
        </div>

        <div class="colonnes footer-medias">
        <h2 class="titre">Media</h2>
        </div>

    </div>

</footer>