{% extends 'base.html.twig' %}

{% block title %}Qui sommes nous ?{% endblock %}

{% block body %}
<div class='container col-lg-6 col-md-7 col-sm-8  '>
<h1>Qui sommes nous ?</h1>

<p>
<b class="titre_qsn">JM Tech - Votre Passerelle vers l'Innovation</b><br>

Chez JM Tech, nous sommes passionnés par la technologie. Depuis notre fondation en 2004, nous nous sommes engagés à offrir à nos clients les dernières innovations technologiques en matière d'ordinateurs portables, de souris, d'écrans et d'appareils photos. Notre siège social est basé à [Emplacement], mais notre influence s'étend bien au-delà des frontières grâce à notre boutique en ligne.
</p>

<p>
<b class="titre_qsn">Notre Histoire</b><br>
Notre aventure a commencé il y a près de deux décennies, lorsque notre fondateur a été inspiré par la rapidité avec laquelle la technologie évoluait. Il a vu une opportunité de connecter les gens avec les outils qui amélioreraient leur vie quotidienne. Ainsi est née JM Tech, avec pour mission de rendre la technologie accessible à tous.

Au fil des ans, nous avons évolué, adapté et grandi pour devenir un leader de l'industrie. Nous avons été témoins de l'évolution constante des ordinateurs portables, des caméras numériques et de tous les autres gadgets technologiques. Notre histoire est marquée par notre dévouement à la qualité, à l'innovation et à la satisfaction du client.
</p>

<p>
<b class="titre_qsn">Notre Mission</b><br>
Chez JM Tech, notre mission est simple : mettre la technologie entre vos mains de manière accessible, fiable et passionnante. Nous croyons que la technologie devrait enrichir votre vie, simplifier vos tâches et élargir vos horizons. C'est pourquoi nous nous efforçons constamment de sélectionner les produits les plus performants et de les mettre à votre disposition.
</p>

<p>
<b class="titre_qsn">Nos Valeurs</b><br>
Qualité : Nous nous engageons à offrir des produits de haute qualité qui répondent à vos besoins et à vos attentes.

Innovation : Nous restons à l'avant-garde de la technologie en recherchant et en proposant les dernières tendances du marché.

Satisfaction du Client : Votre satisfaction est notre priorité absolue. Notre équipe dévouée est là pour vous aider à chaque étape de votre parcours d'achat.
</p>

<p>
<b class="titre_qsn">Engagez-vous avec JM Tech</b><br>
Rejoignez-nous dans notre voyage technologique. Explorez notre catalogue de produits innovants, découvrez les dernières tendances et laissez-nous être votre partenaire technologique de confiance. Nous sommes impatients de vous servir.
</p>
</div>
{% endblock %}
